openai
pymupdf4llm
pymupdf
semantic_text_splitter
napari[pyqt6, optional]
napari-micromanager
#git+https://github.com/dario-bassi/pymmcore-widgets.git@modified_stage
#git+https://github.com/pymmcore-plus/pymmcore-plus.git@main
pymmcore-plus
numpy
psycopg2
python-dotenv
mcp
pydantic
pandas
protobuf
griffe
requests
tqdm
markdown
pyqt6
chardet
pgvector
pdf2image
elasticsearch
tiktoken
transformers
torch
pygame
pillow
scikit-image
more-itertools
beautifulsoup4
numba
opencv-python
pre-commit
vulture
coverage
cellpose
git+https://github.com/hinderling/virtual-microscope
git+https://github.com/hinderling/pymmcore-proxy.git
pytest
pytest-qt