# Virtual Microscope Configuration
# Cell type encoded in filename: virtual_<celltype>.cfg

# Reset
Property,Core,Initialize,0

# Python Devices
#py pyDevice,Camera,src.virtual_microscope.pymmcore_camera_sim,SimCameraDevice
#py pyDevice,XYStage,src.virtual_microscope.pymmcore_stage_sim,SimStageDevice
#py pyDevice,ZStage,src.virtual_microscope.pymmcore_z_stage_sim,SimZStageDevice
#py pyDevice,LED,src.virtual_microscope.pymmcore_state_device_sim,LEDDevice
#py pyDevice,Filter Wheel,src.virtual_microscope.pymmcore_state_device_sim,FilterWheelDevice
#py pyDevice,Objective,src.virtual_microscope.pymmcore_state_device_sim,ObjectiveDevice
#py pyDevice,Shutter,src.virtual_microscope.pymmcore_shutter_sim,SimShutterDevice
#py pyDevice,SLM,src.virtual_microscope.pymmcore_slm_sim,SimSLMDevice

# Initialize
Property,Core,Initialize,1

# Roles
#py Property,Core,Camera,Camera
#py Property,Core,XYStage,XYStage
#py Property,Core,Focus,ZStage
#py Property,Core,Shutter,Shutter
Property,Core,AutoShutter,1

# Labels
#py Label,LED,0,UV
#py Label,LED,1,BLUE
#py Label,LED,2,CYAN
#py Label,LED,3,GREEN
#py Label,LED,4,YELLOW
#py Label,LED,5,ORANGE
#py Label,LED,6,RED
#py Label,Filter Wheel,0,Electra1(402/454)
#py Label,Filter Wheel,1,SCFP2(434/474)
#py Label,Filter Wheel,2,TagGFP2(483/506)
#py Label,Filter Wheel,3,obeYFP(514/528)
#py Label,Filter Wheel,4,mRFP1-Q667(549/570)
#py Label,Filter Wheel,5,mScarlet3(569/582)
#py Label,Filter Wheel,6,miRFP670(642/670)
#py Label,Objective,0,10x
#py Label,Objective,1,20x
#py Label,Objective,2,40x

# Configuration presets
#py ConfigGroup,Fake,all-channel,LED,Label,CYAN
#py ConfigGroup,Fake,all-channel,Filter Wheel,Label,TagGFP2(483/506)
#py ConfigGroup,Fake,nucleus-channel,LED,Label,ORANGE
#py ConfigGroup,Fake,nucleus-channel,Filter Wheel,Label,mScarlet3(569/582)
#py ConfigGroup,Fake,membrane-channel,LED,Label,RED
#py ConfigGroup,Fake,membrane-channel,Filter Wheel,Label,miRFP670(642/670)
#py ConfigGroup,Real,membrane-channel,LED,Label,RED
#py ConfigGroup,Real,membrane-channel,Filter Wheel,Label,miRFP670(642/670)
#py ConfigGroup,System,Startup,LED,Label,UV
#py ConfigGroup,System,Startup,Filter Wheel,Label,Electra1(402/454)
#py ConfigGroup,System,Startup,Objective,Label,10x
